node_modules/
dist/
.tmp/
out-tsc/
angular.json
package-lock.json
yarn.lock
bin/
obj/
out/
artifacts/
.vscode/
.idea/
.vs/
.vs2019/
.vs2017/
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
ScaffoldingReadMe.txt
.idea/
*.user
*.userosscache
*.suo
*.userprefs
!example.env